
    a {
        color:BLACK;
        text-decoration: none;
    }
    body {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
    h1 {
        text-align: center;
        font-size: 75px;
    
        margin: 0px;
        padding-bottom: 50px;
    }
    .video-container {
        text-align: center;
        margin-top: 30px;
    }
    .hi {
        margin: 0;
    }
    #grid {
        border: 5px double black;
        display: grid;
        grid-template-columns:150px 1fr;
    }
    .bye {
        border-right: 5px double black;
    }
    .bye2 {
        margin-left: 15px;
    }
    @media(max-width:570px){
        #grid {
            display: block;
        }
        ol {
            border-bottom: 5px double black;
            padding-bottom: 15px;
        }
        
    }
